.todobody {
  
  width: 100%;
  height: 100vh;
  margin:0;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;



}

.title {
  border-radius: 20px;
  background-color: lab(54.91% 90.91 -56.32 / 0.533);
  color: white;
  opacity: 30;
  font-family:'Times New Roman', Times, serif;
  font-size: 70px;
  flex-wrap: wrap;

}

p {
  font-weight: bold;
}


#tarea {
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-align: center;
  height: auto;
  flex-direction: column;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  flex-wrap: wrap;
}

input {
  width: 600px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border-radius: 50px solid #000;
  outline: none;
  margin: auto;
background-color: white;
flex-wrap: wrap;
}

.clean {
  background-color: transparent;
  border: none;
  opacity: 0.01;
  width: 20px;
  height: 20px;
  flex-wrap: wrap;

}

.clean:hover {
  color: red;
  cursor: pointer;
  opacity: 1;
  flex-wrap: wrap;
}

.filter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: auto;
  font-weight: bold;
  font-size: 2rem;
  flex-wrap: wrap;
}

.tarea-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 550px;
  border-bottom: 1px solid gray;
  padding: 10px;
  flex-wrap: wrap;
}

#imagen {
  background-image: url(https://i.pinimg.com/236x/5e/a3/05/5ea305453bdf8d774ca734b7b9dd3838.jpg);
 background-size: cover;         
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}